:root {
  --couleur-secondaire-1: #26c0e2; /* Nom suggéré : --bleu-turquoise */
  --bg-white: #fff;
  --couleur-secondaire-2: #030229; /* Nom suggéré : --Bleu-nuit */
}
.recent-order {
  margin-top: 40px;
  table {
    width: 952px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: var(--bg-white);

    th,
    td {
      padding: 20px;
      border-bottom: 1px solid var(--bg-white);
      text-align: center;
      font-size: 12px;
    }

    th {
      font-weight: bold;
    }

    td {
      vertical-align: middle;
    }
    .total {
      background-color: #e9f9fc;
      color: var(--couleur-secondaire-1);
      text-align: center;
    }

    .product-icon {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
    h2 {
      font-size: 18px;
      margin-bottom: 20px;
      color: var(--couleur-secondaire-2);
    }
  }
}
